@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.IPagedList<DangNhap>
@{
    Layout = "~/Views/Shared/CTSV_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/quanlytaikhoan.css">
<div class='content'>
    <h1>Quản lý tài khoản</h1>
    <div id="deleteAlert" class="alert" style="display:none;"></div>
    <div class="header">
        <a asp-controller="CTSV" asp-action="ThemTaiKhoan" class="btnthemtaikhoan"> <i class="bi bi-plus-square-fill"></i> &nbsp Thêm tài khoản</a>

        <div class="search-bar">
            <form class="d-flex" asp-action="QuanLyTaiKhoan" asp-controller="CTSV">
                <input name="searchString" id="search-input" class="form-control me-1" type="search" placeholder="Search" aria-label="Search" value="@ViewData["CurrentFilter"]" style="width: 500px;">

                <select name="searchBy" id="search-select" class="form-select">
                    <option value="TenDangNhap" selected="@(ViewData["SearchBy"] as string == "TenDangNhap")"><text>Tên</text></option>
                    <option value="MaNguoiDung" selected="@(ViewData["SearchBy"] as string == "MaNguoiDung")"><text>Mã</text></option>
                </select>

                <button id="search-button" class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <div id="search-result" class="search-result"></div>
        </div>
    </div>





    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã người dùng</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>Vai trò</th>
                <th>Lượt truy cập</th>
                <th>Truy cập gần nhất</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var stt = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td><strong>@item.MaNguoiDung</strong></td>
                    <td>@item.TenDangNhap</td>
                    <td>@item.MatKhau</td>
                    <td>@item.VaiTro</td>
                    <td>@item.LuotTruyCap</td>
                    <td>@item.TruyCapGanNhat</td>
                    <td class="actions">
                        <a  class="edit"><i class="bi bi-pencil-fill"></i>  &nbsp Edit</a>
                        <a asp-controller="CTSV" asp-action="XoaTaiKhoan" asp-route-id="@item.ID" class="delete"> <i class="bi bi-trash3-fill"></i> &nbsp Delete</a>
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
    <div class="pagination">
        @Html.PagedListPager(
                 Model,
                 page => Url.Action("QuanLyTaiKhoan", new { page = page, searchString = ViewData["CurrentFilter"], searchBy = ViewData["SearchBy"] })
                 )
    </div>
 
</div>
<style>
    .context {
        height: 200vh;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
    $(document).ready(function () {
        var deleteSuccessMessage = '@Html.Raw(TempData["DeleteSuccess"])';
        if (deleteSuccessMessage) {
            $("#deleteAlert").text(deleteSuccessMessage).addClass("alert-success").show();

            // Ẩn thông báo sau 5 giây
            setTimeout(function () {
                $("#deleteAlert").fadeOut("slow");
            }, 2000);
        }
    });
    </script>
