@{
    Layout = "~/Views/Shared/CTSV_Layout.cshtml";
}
@model NguoiDung
<link rel="stylesheet" type="text/css" href="~/css/thongtinsv.css">
<div class='content'>
    <div class="container">
        <div class="ThongTinContainer-info">
            <div class="ThongTin-info">
                <h2>Thông tin Nhân Viên</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Mã số sinh viên</th>
                            <td>@Model.MaNguoiDung</td>
                        </tr>
                        <tr>
                            <th>Họ và tên</th>
                            <td>@Model.HoTen</td>
                        </tr>
                        <tr>
                            <th>Ngày sinh</th>
                            <td>@Model.NgaySinh</td>
                        </tr>
                        <tr>
                            <th>Giới tính</th>
                            <td>@Model.GioiTinh</td>
                        </tr>
                        <tr>
                            <th>Dân tộc</th>
                            <td>@Model.DanToc</td>
                        </tr>
                        <tr>
                            <th>Số CMND</th>
                            <td>@Model.CMND</td>
                        </tr>
                        <tr>
                            <th>Tôn giáo</th>
                            <td>@Model.TonGiao</td>
                        </tr>
                        <tr>
                            <th>Địa chỉ</th>
                            <td>@Model.DiaChi</td>
                        </tr>
                        <tr>
                            <th>Quê quán</th>
                            <td>@Model.QueQuan</td>
                        </tr>
                        <tr>
                            <th>Tình trạng</th>
                            <td>@Model.MaTinhTrang</td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>

            <div class="ThongTin-info">
                <h2>Thông tin Liên lạc</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Số điện thoại</th>
                            <td>@Model.SDT</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@Model.Email</td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-container-info">
                    <a href="<%=request.getContextPath()%>/views/SV/doimatkhau.jsp" class="button-info">Đổi mật khẩu</a>

                </div>
            </div>
        </div>

    </div>
</div>