@model List<ChiTietThongBao>
@{
    Layout = "~/Views/Shared/CTSV_Layout.cshtml";
    List<ChiTietThongBao> thongbaodagui = ViewData["ThongBaoDaGui"] as List<ChiTietThongBao>;
}
<link rel="stylesheet" type="text/css" href="~/css/thongbaoctsv.css">
<div class='content'>
    <a asp-controller="CTSV" asp-action="TaoThongBao" class="add-user-button"> <i class="bi bi-send-fill"></i> Gửi thông báo</a>
    <h2>Thông báo đã nhận</h2>
    <table class="notification-table">
        <thead>
            <tr class="Inbox_header_dl">
                <th>Tiêu đề</th>
                <th>Người gửi</th>
                <th>Thời gian gửi</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var thongBao in Model)
            {
                <tr>
                    <td class="notification-title">
                        <a class="show-content-link" asp-controller="CTSV" asp-action="XemThongBao" asp-route-id="@thongBao.Id"><i class="bi bi-envelope-fill"></i> @thongBao.TieuDe</a>
                    </td>
                    <td>@thongBao.TenNguoiGui</td>
                    <td>@thongBao.NgayGui</td>
                </tr>
            }

        </tbody>
    </table>
    <h2>Thông báo đã gửi</h2>
    <table class="notification-table">
        <thead>
            <tr class="Inbox_header_dl">
                <th>Tiêu đề</th>
                <th>Người nhận</th>
                <th>Mã số sinh viên</th>
                <th>Thời gian gửi</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var thongBao in thongbaodagui)
            {
                <tr>
                    <td class="notification-title">
                        <a class="show-content-link" asp-controller="CTSV" asp-action="XemThongBao" asp-route-id="@thongBao.Id"><i class="bi bi-envelope-fill"></i> @thongBao.TieuDe</a>
                    </td>
                    <td>@thongBao.TenNguoiGui</td>
                    <td>@thongBao.MaNguoiNhan</td>
                    <td>@thongBao.NgayGui</td>
                </tr>
            }


        </tbody>
    </table>
    <div class="notification-content">
        <p>@ViewData["NoiDungThongBao"]</p>
    </div>
</div>


<style>

    .content {
        margin-top: 120px; /* Khoảng cách phía trên */
        margin-right: 20px; /* Khoảng cách phía phải */
        margin-bottom: 100px; /* Khoảng cách phía dưới */
        margin-left: 330px;
        height: 100vh; /* Khoảng cách phía trái */
        z-index: 1; /* Đặt giá trị z-index để đảm bảo nội dung nằm trên menu */
        position: relative;
        background-color: white; /* Thêm màu nền trắng */
        padding: 20px; /* Thêm padding để tạo khoảng trắng xung quanh nội dung */
    }
</style>


