@model List<ChiTietThongBao>
@{
    Layout = "~/Views/Shared/SinhVien_Layout.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/css/thongbao.css">
<div class='content'>
    <table class="notification-table">
        <thead>
            <tr class="Inbox_header_dl">
                <th>Tiêu đề</th>
                <th>Người gửi</th>
                <th>Thời gian gửi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thongBao in Model)
            {
                <tr>
                    <td class="notification-title">
                        <a class="show-content-link" asp-controller="SinhVien" asp-action="XemThongBao" asp-route-id="@thongBao.Id">@thongBao.TieuDe</a>
                    </td>
                    <td>@thongBao.TenNguoiGui</td>
                    <td>@thongBao.NgayGui</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="notification-content">
        <p>@ViewData["NoiDungThongBao"]</p>

    </div>
</div>
<script>
    $(document).ready(function () {
        $(".show-content-link").on("click", function (e) {
            e.preventDefault();

            var ndid = $(this).data("ndid");
            var contentDiv = $(".notification-content");

            // Assuming you have an action method 'GetNotificationContent' to get the content
            $.get("/SinhVien/GetNotificationContent", { ndid: ndid }, function (data) {
                contentDiv.html(data);
            });
        });
    });
</script>